.container-register {
    display: flex;
    width: 100%;
    height: calc(95vh - 50px);
    justify-content: center;
    align-items: center;
}

.form-register{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.form-register h1{
    font-size: 32px;
    align-self: center;
    margin-bottom: 32px;
    font-family: CocoSharp-Bold, serif;
}

.form-register span {
    align-self: center;
}

.form-register input{
    padding: 12px 30px;
    border-radius: 8px;
    margin-bottom: 12px;
    outline: 0;
    border: 1px solid #C4C4C4;
    font-family: Arial, Helvetica, sans-serif;
}

.form-register input::placeholder{
    color: #8B8B8B;
}

.form-register button {
    width: 60%;
    cursor: pointer;
    color: white;
    align-self: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 9px 0px;
    border-radius: 8px;
    border: 0;
    background-color: #8ED975;
    font-family: CocoSharp-Bold, serif;
}

.form-register span {
    font-size: 12px;
    font-family: CocoSharp-Regular, serif;
}

.grey {
    color: #8B8B8B;
}

.blue-text {
    cursor: pointer;
    text-decoration: underline;
    color: #3F85C6;
}

@media (min-width: 1368px) {
    .form-register{
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .form-register h1{
        font-size: 48px;
        align-self: center;
        margin-bottom: 32px;
        font-family: CocoSharp-Bold, serif;
    }
}

.aviso-erro {
    font-family: CocoSharp-Bold, serif;
    color: #ca4b4b;
    align-self: center;
    text-align: center;
    font-size: 14px;
}