.reviews-container {
    background-color: white;
    width: 61.8%;
    margin-left: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(139, 139, 139, 0.25);
    padding: 32px 48px;
}

.reviews-container .reviews-title {
    font-family: CocoSharp-Bold, serif;
    font-size: 20px;
    color: #1C1C1C;
    margin-bottom: 16px;
}

.reviews-container .one-review-container {
    display: flex;
    flex-direction: column;
}

.user-image-name {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-image-name img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.review-user {
    display: flex;
}

.user-image-name .user-name {
    font-family: CocoSharp-Bold, serif;
    font-size: 16px;
    color: #1C1C1C;
}

.user-image-name .user-trade {
    font-family: CocoSharp-Regular, serif;
    font-size: 14px;
    color: #8B8B8B;
}

.review-stars-date {
    display: flex;
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    gap: 24px;
}

.stars {
    display: flex;
    align-items: center;
    color: #FAAD17;
}

.stars p {
    margin-left: 8px;
    font-weight: 700;
}

.date {
    display: flex;
    align-items: center;
    color: #8B8B8B;
    font-weight: 400;
}

.date p {
    margin-left: 8px;
}

.review-text p {
    margin-top: 16px;
    font-family: CocoSharp-Regular, serif;
    font-size: 14px;
    color: #1C1C1C;
    margin-bottom: 32px;
}