.candidatar-container {
    background-color: #F8F8F8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.candidatar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    font-family: CocoSharp-Bold, serif;
    font-size: 32px;
    color: #1c1c1c;
    width: 80%;
}

.anuncio-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 38.2%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(139, 139, 139, 0.25);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 16px;
}

.candidatar-body{
    display: flex;
    width: 80%;
}

.anuncio-section-header p {
    font-family: CocoSharp-Bold, serif;
    font-size: 14px;
    color: #8B8B8B;
    padding: 12px 48px;
}

.candidatar-body .candidatura-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 61.2%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(139, 139, 139, 0.25);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 16px;
}

.grey-title {
    font-family: CocoSharp-Bold, serif;
    font-size: 14px;
    color: #8B8B8B;
    padding: 12px 48px;
}

.candidatura-section-header p {
    font-family: CocoSharp-Bold, serif;
    font-size: 14px;
    color: #8B8B8B;
    padding: 12px 48px;
}

.candidatura-mensagem {
    padding: 24px 48px 12px 48px;
}

.candidatura-mensagem textarea {
    width: 100%;
    height: 100px;
    outline-color: #8ED975;
    resize: none;
    border-color: rgba(139, 139, 139, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 16px;
}

.candidatura-mensagem p {
    font-family: CocoSharp-Bold, serif;
    font-size: 14px;
    color: #8B8B8B;
    margin-bottom: 12px;
}

.candidatura-oferta {
    padding: 12px 48px 12px 48px;
}

.candidatura-oferta p {
    font-family: CocoSharp-Bold, serif;
    font-size: 14px;
    color: #8B8B8B;
    margin-bottom: 12px;
}

.candidatura-oferta input {
    width: 50%;
    outline-color: #8ED975;
    resize: none;
    border-width: 1px;
    border-color: rgba(139, 139, 139, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 16px;
}

.candidatura-section .enviar-btn {
    align-self: flex-end;
    width: auto;
    cursor: pointer;
    font-family: CocoSharp-Bold, serif;
    color: white;
    background-color: #8ED975;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 8px 32px;
    font-size: 14px;
    margin-right: 48px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.anuncio-section-user .publicado {
    margin-top: 8px;
}

.anuncio-section-user .user img {
    width: 50px;
    margin-left: 48px;
}

.anuncio-section-user {
    margin-bottom: 12px;
}

.anuncio-section-pedido .pedido {
    margin-left: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1c1c;
    font-size: 14px;
    margin-bottom: 12px;
}

.anuncio-section-prazo .prazo {
    margin-left: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1c1c;
    font-size: 14px;
    margin-bottom: 12px;
}

.button-alert {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.button-alert .green {
    font-family: CocoSharp-Bold, serif;
    color: #5c8b4c;
    letter-spacing: .5px;
    font-size: 14px;
    width: 275px;
}

.button-alert .red {
    font-family: CocoSharp-Bold, serif;
    color: #ca4b4b;
    letter-spacing: .5px;
    font-size: 14px;
    width: 275px;
}

.anuncio-section-user .user img {
    border-radius: 100%;
}

.anuncio-section-budget .budget {
    margin-left: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1c1c;
    font-size: 14px;
    margin-bottom: 12px;
}

.anuncio-section-user .user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-info .user-name {
    font-family: CocoSharp-Bold, serif;
    color: #1c1c1c;
    font-size: 18px;
    line-height: 100%;
    overflow-y: hidden;
}

.user-info .user-trabalho {
    font-family: CocoSharp-Regular, serif;
    color: #8b8b8b;
    font-size: 14px;
}