.footer-container {
    display: flex;
    background-color: #F8F8F8;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.footer-container .logo img {
    width: 150px;
    height: auto;
}

.footer-container p {
    font-family: CocoSharp-Bold, serif;
    font-size: 20px;
    color: #1c1c1c;
    margin-bottom: 32px;
}

.footer-container li {
    font-family: CocoSharp-Regular, serif;
    font-size: 14px;
    color: #8B8B8B;
    margin-bottom: 4px;
    cursor: pointer;
}

.footer-container li:hover {
    color: #1c1c1c;
}

.Link {
    text-decoration: none;
}