* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'CocoSharp-Bold';
  src: local('CocoSharp-Bold'), url('./fonts/Coco-Sharp-Bold-trial.ttf') format('truetype');
}
@font-face {
  font-family: 'CocoSharp-Extrabold';
  src: local('CocoSharp-Extrabold'), url('./fonts/Coco-Sharp-Extrabold-trial.ttf') format('truetype');
}
@font-face {
  font-family: 'CocoSharp-Extralight';
  src: local('CocoSharp-Extralight'), url('./fonts/Coco-Sharp-Extralight-trial.ttf') format('truetype');
}
@font-face {
  font-family: 'CocoSharp-Heavy';
  src: local('CocoSharp-Heavy'), url('./fonts/Coco-Sharp-Heavy-trial.ttf') format('truetype');
}
@font-face {
  font-family: 'CocoSharp-Light';
  src: local('CocoSharp-Light'), url('./fonts/Coco-Sharp-Light-trial.ttf') format('truetype');
}
@font-face {
  font-family: 'CocoSharp-Regular';
  src: local('CocoSharp-Regular'), url('./fonts/Coco-Sharp-Regular-trial.ttf') format('truetype');
}